<a href="https://colab.research.google.com/github/Leena-GO/Self-study/blob/main/%ED%98%BC%EA%B3%B5%EB%A8%B8%EC%8B%A0/%ED%98%BC%EC%9E%90_%EA%B3%B5%EB%B6%80%ED%95%98%EB%8A%94_%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_%2B_%EB%94%A5%EB%9F%AC%EB%8B%9D_05_%ED%8A%B8%EB%A6%AC_%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5. 트리 알고리즘

## 5-1 결정 트리

### 1) 로지스틱 회귀로 와인 분류하기

In [1]:
import pandas as pd

In [2]:
wine = pd.read_csv('https://bit.ly/wine_csv_data')

In [3]:
wine.head()

   alcohol  sugar    pH  class
0      9.4    1.9  3.51    0.0
1      9.8    2.6  3.20    0.0
2      9.8    2.3  3.26    0.0
3      9.8    1.9  3.16    0.0
4      9.4    1.9  3.51    0.0

- 'class' column은 타깃값으로, 0이면 레드 와인, 1이면 화이트 와인이다.
  - 화이트 와인이 양성
- 레드 와인과 화이트 와인을 분류하는 **이진 분류** 문제이다.

---

- 만약 데이터에 누락값이 있다면, 데이터를 버리거나 평균값으로 채워 사용할 수 있다.
- 어떤 방법이 최선인지는 모른다.
- 머신러닝에서는 훈련 세트의 평균값으로 테스트 세트의 누락값을 채워주게 된다!

In [4]:
wine.describe()

           alcohol        sugar           pH        class
count  6497.000000  6497.000000  6497.000000  6497.000000
mean     10.491801     5.443235     3.218501     0.753886
std       1.192712     4.757804     0.160787     0.430779
min       8.000000     0.600000     2.720000     0.000000
25%       9.500000     1.800000     3.110000     1.000000
50%      10.300000     3.000000     3.210000     1.000000
75%      11.300000     8.100000     3.320000     1.000000
max      14.900000    65.800000     4.010000     1.000000

- 위의 **describe()**에서 알 수 있는 것은, 알코올 도수 / 당도 / pH 값의 스케일이 다르다는 것이다.
- sklearn의 **StandardScaler**로 특성 표준화를 진행하자.

In [5]:
wine.columns

Index(['alcohol', 'sugar', 'pH', 'class'], dtype='object')

In [6]:
data = wine[['alcohol', 'sugar', 'pH']].to_numpy()
target = wine['class'].to_numpy()

In [7]:
# train set과 test set으로 나눠주기
from sklearn.model_selection import train_test_split

train_input, test_input, train_target, test_target = train_test_split(data, target, test_size = 0.2, random_state = 42)

- **train_test_split()** 함수는 설정값을 지정하지 않으면 25%를 테스트 세트로 지정한다.
- 여기서는 20%만 테스트 세트로 나누었다.

In [8]:
print(train_input.shape, test_input.shape)

(5197, 3) (1300, 3)

- 이제, StandardScaler 클래스를 사용하여 훈련 세트를 전처리 한 후, 표준점수로 변환된 train_scaled와 test_scaled를 사용하여 로지스틱 회귀모델을 훈련해보자.

In [10]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
ss.fit(train_input)
train_scaled = ss.transform(train_input)
test_scaled = ss.transform(test_input)

In [12]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr.fit(train_scaled, train_target)
print(lr.score(train_scaled, train_target))
print(lr.score(test_scaled, test_target))

0.7808350971714451
0.7776923076923077