<a href="https://colab.research.google.com/github/Leena-GO/Self-study/blob/main/add_to_my_knowledge/datetime_%EB%B3%80%ED%99%98%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Birth':['2019-01-01 09:10:00',
                            '2019-01-08 09:20:30',
                            '2019-02-01 10:20:00',
                            '2019-02-02 11:40:50',
                            '2019-02-28 15:10:20',
                            '2019-04-10 19:20:50',
                            '2019-06-30 21:20:50',
                            '2019-07-20 23:30:59']})

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Birth   8 non-null      object
dtypes: object(1)
memory usage: 192.0+ bytes

- object 형태에서 datetime64[ns] 타입으로 변경

In [8]:
df['Birth'] = pd.to_datetime(df['Birth'])
print(df)
print('-' * 30)
print(df.info())

                Birth
0 2019-01-01 09:10:00
1 2019-01-08 09:20:30
2 2019-02-01 10:20:00
3 2019-02-02 11:40:50
4 2019-02-28 15:10:20
5 2019-04-10 19:20:50
6 2019-06-30 21:20:50
7 2019-07-20 23:30:59
------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Birth   8 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 192.0 bytes
None

- datetime64[ns] 형태로 변경했기 때문에, datetime64[ns]에서 제공하는 함수와 속성을 호출할 수 있다.

In [9]:
df['Birth_date']       = df['Birth'].dt.date         # YYYY-MM-DD(문자)
df['Birth_year']       = df['Birth'].dt.year         # 연(4자리숫자)
df['Birth_month']      = df['Birth'].dt.month        # 월(숫자)
df['Birth_month_name'] = df['Birth'].dt.month_name() # 월(문자)

df['Birth_day']        = df['Birth'].dt.day          # 일(숫자)
df['Birth_time']       = df['Birth'].dt.time         # HH:MM:SS(문자)
df['Birth_hour']       = df['Birth'].dt.hour         # 시(숫자)
df['Birth_minute']     = df['Birth'].dt.minute       # 분(숫자)
df['Birth_second']     = df['Birth'].dt.second       # 초(숫자)

In [11]:
df

                Birth  Birth_date  ...  Birth_minute  Birth_second
0 2019-01-01 09:10:00  2019-01-01  ...            10             0
1 2019-01-08 09:20:30  2019-01-08  ...            20            30
2 2019-02-01 10:20:00  2019-02-01  ...            20             0
3 2019-02-02 11:40:50  2019-02-02  ...            40            50
4 2019-02-28 15:10:20  2019-02-28  ...            10            20
5 2019-04-10 19:20:50  2019-04-10  ...            20            50
6 2019-06-30 21:20:50  2019-06-30  ...            20            50
7 2019-07-20 23:30:59  2019-07-20  ...            30            59

[8 rows x 10 columns]